<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Andy graduated from Sheridan College with the Bachelor of Animation with focus on 3D.  
           The 3D aspect gave him great exposure to tools such as python and maya embeeded language to kickstart my career in the security field.  He is very enthusiastic about Identity Access Management and enjoys navigating through solutions that can mitigate and protect organizations and the people it serves.  </p>
      </div>
      <div class="col-lg-4">
        <p> The three strengths that he has committed to progressively improve during his self studies are programming, knowledge base scenarios and ability to have a keen eye for minor details within SIEM logs.  
           From work, a proven track record of being able to have strong written instructions and verbal communication with clients and colleagues.  
            The values that are instilled complies of being overly cautious to safeguard organization, obedient to the law and be compliant with each given task. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.dropbox.com/s/hrassqu1hkha5k2/Resume.pdf?dl=0" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
